{% extends 'base.jinja2' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="first_name">First Name</label>
    <input name="first_name" id="first_name" required>
      <label for="last_name">Last Name</label>
    <input name="last_name" id="last_name" required>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}